.navbar {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;

    padding: 15px;
    background: linear-gradient(0deg, #000, #272727);
    box-shadow: rgba(200, 194, 194, 0.865) 0px 2px 8px 0px;
}




.navLink {

    color: #fff;
    text-decoration: none;
    box-shadow: rgba(251, 250, 250, 0.997) 5px -10px 2px;

}

.navLink:hover {
    box-shadow: rgba(251, 250, 250, 0.997) 5px -10px 20px;
}

#login-nav-link {}

#login-nav-link:hover {}

.login_sign_up_div {
    display: flex;

    width: 150px;
    justify-content: space-between;
}
