.photo-feed {
  border: 2px solid blue;
  display: flex;
  justify-content: center;
}

.feed-ul {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  flex-direction: row;
  list-style-type: none;
}

.photo-source {
  max-width: 100px;
  max-height: 100px;
  margin: 10px;
}

#user-photos-div {
  border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.albumClass {

  width: 200px;
  height: 200px;
  justify-content: left;

  display: flex;
  flex-wrap: wrap;

}

.albumLi {
  margin-left: -30px;
  margin-right: 40px;
  font-family: cursive;
  font-size: 10px;

}
