.albumClass {

    width: 200px;
    height: 200px;
    justify-content: left;

    display: flex;
    flex-wrap: wrap;

}

.albumLi {
    border: 0.9px solid black;
}

.albumLi:hover {

    font-family: cursive;
    font-size: 10px;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;


}
