/* TODO Add site wide styles */
button {
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
}


button:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    animation: slidebg 2s linear infinite;
}

@keyframes slidebg {
    to {
        background-position: 10vw;
    }
}

body {
    color: white;
    background-image: url("./pexels-nicole-avagliano-2312040.jpg");

}
