#delete-comment-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#delete-comment-title {
  margin: 10px;
  font-weight: bold;
  font-size: 1.2em;
}
