#my-photos-ul {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  margin: none;
  padding-left: 16px;
}

.my-filtered-photos {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin: 3px;
  border-radius: 4px;
}

.my-filtered-photos:hover {
  box-shadow: #f2f3f4 1px 2px 9px 0px;
}

#user-photos-title {
  display: flex;
  justify-content: center;
  align-self: center;
}

.add-photo-div {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-self: center
}
