#my-photos-ul {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  margin: none;
  padding-left: 16px;
}

.my-filtered-photos {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin: 3px;
  border-radius: 4px;
}
