.albumClass {
    display: flex;
    flex-wrap: wrap;
    padding-left: 16px;
}

.albumLi {
  font-family: cursive;
  font-size: 10px;
  list-style: "none";
}

.my-albums-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}
